@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <table>
        <tr>
            <td>Название марки</td>
            <td>Актуальность</td>
            <td>Количество моделей</td>
        </tr>
    </table>
</div>
